<div class="container_chef_monster_img">
<%= image_tag @current_chef.gif_name %>

<%= image_tag @current_monster.gif_name %>
</div>

<h3> YOU DELIVER A HEAPING PILE A GARBAGE </h3>

<p> Oh No! Your reputation has been foiled! <%= @current_monster.name %> writes a seething Yelp review! </p>
<p> The Health Department will be coming to shut you down soon! Bummer! </p>

<%= button_to "Try Again!", chef_selection_form_path, method: 'get' %>
