<h1> PLAY TRANSITION PAGE </h1>

<div>
<%= image_tag 'placeholder', size: "450x450"%>
<%= image_tag 'placeholder', size: "450x450"%><br><br>
</div>

<%= button_to "Choose Your Chef", chef_selection_path, method: :get%>