<h2> WELCOME TO THE GAME </h2>

<div>
<%= image_tag 'placeholder', size: "450x450"%>
<%= image_tag 'placeholder', size: "450x450"%><br><br>
</div>

<%= button_to "Let's Play!", home_menu_path, method: :get %>