<div class="page_title">
    <h1> ABOUT FOOD FIGHT </h1>
</div>

<div class="page_content"><p> This game was made by Shawn Huang Fernandes (me), a Flatiron Software Engineering student </p></div>
<div class="page_content"><p> This project was the first of many projects to practice the following </p></div>
<ul>
    <div class="page_content"><li> Creating small web application using basic Ruby on Rails </li></div>
    <div class="page_content"><li> Use a Model, View, Controller (MVC) implementation to build out CRUD functionality </li></div>
    <div class="page_content"><li> Using Active Record to associate multiple Models with a SQLite database </li></div>
    <div class="page_content"><li> Implementing a Has-Many Relationship </li></div>
    <div class="page_content"><li> Get Creative and Create Something From Scratch </li></div>
</ul>

<div class="page_content"><p> I hope you enjoy it! </p></div>
<div class="page_content"><p> If you are curious about me, my coding journey, or my projects, here are some other links:</p></div>

<div class="page_content"><h3> More About Me! </h3></div>
<div class="page_content"><%= link_to "My DEV.to Blog", "https://dev.to/shawnhuangfernandes/booting-up-bootcamp-weeks-1-5-1bnp", :target => "_blank" %></div>

