<h1> ABOUT PAGE </h1>

<p> !!!Image of Shawn, here !!! </p>

<p> This game was made by Shawn Huang Fernandes (me), a Flatiron Software Engineering student </p>
<p> This project was the first of many projects to practice the following </p>
<ul>
    <li> Creating small web application using basic Ruby on Rails </li>
    <li> Use a Model, View, Controller (MVC) implementation to build out CRUD functionality </li>
    <li> Using Active Record to associate multiple Models with a SQLite database </li>
    <li> Implementing a Has-Many Relationship </li>
    <li> Get Creative and Create Something From Scratch </li>
</ul>

<p> I hope you enjoy it! </p>
<p> If you are curious about me, my coding journey, or my projects, here are some other links:</p>

<h3> My DEV.to blog </h3>
<%= link_to "Check It Out!", url: "http://www.google.com" %>

<h3> My GITHub Repo </h3>
<%= link_to "Check It Out!", url: "https://www.dev.to" %>

