<h1> INSTRUCTIONS PAGE </h1>

<p> Add a placeholder image here showing a chef cooking </p>

<p> It's a busy lunch day, and you got some real hungry customers! </p>

<p> As a new chef, you're going to have to use your wits to make sure your customers leave happy </p>
<p> When you begin a round, you will be provided a list of ingredients! </p>

<h4> Choose The Right Ingredients To Make a Meal For Your Customer! </h4>

<p> !!! ADD AN IMAGE TAG TO SHOW SOME INGREDIENT ICONS !!! </p>

<p> Choose The Right Ingredients To Feed Your Customer Until They Are Full! </p>

<p> Choose the Wrong Ingredients, and you'll lose reputation! </p>
<p> Run out of reputation and you'll get shut out of business! </p>

<p> Have fun! Happy Cooking! </p>