/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.layout_title 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.layout_navbar
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.page_title
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container_ingredient_selection 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.container_ingredient_option
{
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: red;
}

.container_chef_monster_img
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.container_page_options
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.img_caption
{
  display: flex;
  flex-direction: column;
  justify-content: center;
}