.layout_title 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.layout_navbar
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.layout_footer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page_title
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page_content
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
    border: 0px:
}

.container_ingredient_selection 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.container_ingredient_option
{
  display: flex;
  flex-direction: column;
  align-content: center;
}

.container_chef_monster_img
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container_page_options
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container_chef_image_selection 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.container_chef_image_option
{
  display: flex;
  flex-direction: column;
  align-content: center;
}

.img_caption
{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipe_list
{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.container_recipe_list
{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.ingredient_horiz_list
{
    display:flex;
    flex-direction: row;
    justify-content: left;
}

.entire_recipe
{
    border-style: solid;
    border-color: blue;
}

.title_page
{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

